# Default local development URI
MONGODB_URI=mongodb://localhost:27017/node_api

# If running the API in a container on the same docker network as the mongo service, use:
# MONGODB_URI=mongodb://mongo:27017/node_api
